*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main-section{
    width: 900px;
    height: 900px;
    background-color: #555;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.input-box input{
    position: relative;
    padding: 20px;
    background: transparent;
    cursor: pointer;
    z-index: 3;
    color: #fff;
    font-size: 2rem;
    border: 1px solid #444;
    width: 300px;
    height: 300px;
    border-radius: 24px;
    overflow: hidden;
}
.input-box{
    position: relative;
    border-radius: 24px;
    overflow: hidden;
}
.input-box::before {
    position: absolute;
    content: '';
    top: -134px;
    left: 25%;
    width: 50%;
    height: 567px;
    background: linear-gradient(to bottom, #33ccff 0%, #f06e03 100%);
    animation: rotate 4s linear infinite;
}
.input-box::after{
    content: '';
    position: absolute;
    background: #444;
    inset: 5px;
    border-radius: 24px;
    overflow: hidden;
}


@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}